source/twr-gcc-unit-test/out/
source/twr-gcc-unit-test/a.exe
source/out/
examples/.parcel-cache/
examples/dist/**
examples/**/out/
examples/**/*.o
examples/**/*.bc
examples/**/*.js
examples/**/*.wasm
examples/**/*.map
examples/**/package-lock.json
include/*
lib-c/twr.a
lib-c/twrd.a
lib-js/
azure/
